<!doctype html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="static/css/bootstrap.min.css">

  <!-- Public Sans and EB Garamond fonts -->
  <link rel="stylesheet" href="static/css/fonts.css">

  <!-- favicon -->
  <link rel="icon" href="favicon.ico">

  <!-- Vue.js version 3.3.4 -->
  <script src="static/js/vue.global.prod.js"></script>

  <!-- Vue i18n -->
  <script src="static/js/vue-i18n.global.prod.js"></script>

  <!-- CSS styles -->
  <link rel="stylesheet" href="static/css/style.css" type="text/css">

  <title>Finto AI</title>
</head>

<body>

  <header id="header">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <h1>
            <img src="static/img/finto-ai-logo-vaaka.svg" class="img" alt="Finto AI">
          </h1>
        </div>
        <div class="col-lg-9">
          <div id="header-nav">
            <span>
              <a class="header-nav-link" id="header-nav-finto"
                :href="$t('finto_url')"
              >Finto.fi</a>
            </span>
            <span>
              <a class="header-nav-link" id="header-nav-about"
                :href="$t('about_url')"
              >{{ $t('header_nav_about') }}</a>
            </span>
            <span>
              <a class="header-nav-link" id="header-nav-feedback"
                :href="$t('feedback_url')"
              >{{ $t('header_nav_feedback') }}</a>
            </span>
            <span>
              <a class="header-nav-link" id="header-nav-guide"
                :href="$t('guide_url')"
              >{{ $t('header_nav_guide') }}</a>
            </span>
            <span> | </span>
            <switch-locale></switch-locale>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main id="main">

    <div class="container" id="info">
      <div class="row">
        <p>{{ $t('info') }}</p>
      </div>
    </div>

    <div class="container" id="content">
      <div class="row">

        <div class="col-lg-7" id="text-box">
          <h2>{{ $t('text_box_label') }}</h2>

          <div id="tabs-input">
            <ul class="nav nav-tabs-no-style nav-justified" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" href="#tab-text-input" role="tab" data-bs-toggle="tab" aria-controls="tab-text-input"
                  @click="placeholder_to_show = 'text_box_placeholder_text_input'"
                >{{ $t('tab_text_input') }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#tab-file-input" role="tab" data-bs-toggle="tab" ref="tab_file_input" aria-controls="tab-file-input"
                  @click="placeholder_to_show = 'text_box_placeholder_file_input'"
                >{{ $t('tab_file_input') }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#tab-url-input" role="tab" data-bs-toggle="tab" ref="tab_url_input" aria-controls="tab-url-input"
                  @click="placeholder_to_show = 'text_box_placeholder_url_input'"
                >{{ $t('tab_url_input') }}</a>
              </li>
            </ul>

            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="tab-text-input"></div>
              <file-input :selected_file="selected_file" :supported_formats="supported_formats" @select-file="read_file($event)"></file-input>
              <url-input :selected_url="selected_url" :supported_formats="supported_formats" @select-url="read_url($event)"></url-input>
            </div>
          </div>

          <div id="alert-wrapper" v-cloak
            v-if="show_alert_file_format || show_alert_request_failed || show_alert_request_failed_url  || show_alert_file_size"
          >
            <div class="alert alert-danger" v-if="show_alert_file_format">
              {{ $t('alert_file_format') }}
            </div>
            <div class="alert alert-danger" v-if="show_alert_request_failed">
              {{ $t('alert_request_failed') }}
            </div>
            <div class="alert alert-danger" v-if="show_alert_request_failed_url">
              {{ $t('alert_request_failed_url') }}
            </div>
            <div class="alert alert-danger" v-if="show_alert_file_size">
              {{ $t('alert_file_size') }}
            </div>
          </div>

          <div id="text-box-wrapper"
            @drop="read_drop_input($event)"
            @dragleave="drag_leave($event)"
            @dragover="drag_over($event)"
          >
            <text-input
              v-model="text"
              :show_dragging_effect="show_dragging_effect"
              :placeholder_to_show="placeholder_to_show"
              @clear="clear()"
            ></text-input>
            <div id="text-box-background" class="dropzone"
              v-show="!loading_upload && text.length === 0"
            >
              <img src="static/img/drop-a-file.svg" class="img" alt="" width="50" id="upload-icon" aria-hidden="true">
              <span>{{ $t('text_box_background') }}</span>
            </div>
            <div id="upload-spinner" class="spinner-border" role="status" v-cloak
              v-if="loading_upload"
            >
              <span class="visually-hidden">{{ $t('text_box_background') }}</span>
            </div>
          </div>
          <div id="annif-version">{{ $t('annif_version') + annif_version }}</div>
        </div>

        <div class="col-lg-5" id="suggestions">

          <h3>{{ $t('suggestions_label') }}</h3>

          <project-select v-model="selected_project" :projects="projects"></project-select>
          <limit-input v-model="limit"></limit-input><br>
          <language-select v-model="language"></language-select>

          <div class="d-grid justify-content-end">
            <button id="get-suggestions" type="button" class="btn btn-primary"
              @click="suggest()"
              :disabled="text===''"
            >{{ $t('get_suggestions') }}</button>
          </div>

          <div class="d-flex justify-content-center" id="results-spinner" v-cloak
            v-if="loading_results"
          >
            <div class="spinner-border" role="status">
              <span class="visually-hidden">{{ $t('loading') }}</span>
            </div>
          </div>

          <div id="suggestions-wrapper" v-cloak
            v-if="show_results"
          >
            <span id="suggestions-heading">{{ $t('suggestions_heading') }}</span>
            <span id="copy-heading">{{ $t('copy_heading') }}</span>

            <result-list
              :results="results"
              :language="language"
              :selected_project="selected_project"
              :projects="projects"
            ></result-list>
          </div>

        </div>
      </div>
    </div>
  </main>

  <footer id="footer">

    <div class="container" id="footer-main">
      <div class="row pt-3">

        <div class="col-md-3">
          <img src="static/img/finto-ai-logo-vaaka.svg" class="img-fluid" alt="Finto AI">
          <p>
            <span>{{ $t('email_label') }}</span><br>
            <span id="finto-email">finto-posti@helsinki.fi</span>
          <p>
        </div>

        <div class="col-md-3">
          <h4>Finto AI</h4>
          <p>
            {{ $t('footer_info') }}<a href="https://annif.org" class="footer-info-link">Annif</a>{{ $t('footer_info_tool') }}
          </p>
          <h5>{{ $t('api_heading') }}</h5>
          <p>{{ $t('api_description') }}</p>
          <p>
            <a class="footer-info-link"
              :href="$t('api_info_link_url')"
            >{{ $t('api_info_link') }}</a>
            <span> | </span>
            <a class="footer-info-link" href="v1/ui/">{{ $t('api_description_link') }}</a>
          </p>
        </div>

        <div class="col-md-3">
          <h4>{{ $t('footer_links_heading') }}</h4>
          <ul class="list-group footer-list">
            <li class="list-group-item">
              <span class="footer-link-arrow">
                <a :href="$t('footer_info_link_url')">
                  {{ $t('footer_info_link') }}
                </a>
              </span>
            </li>
            <li class="list-group-item">
              <span class="footer-link-arrow">
                <a :href="$t('footer_contact_link_url')">
                  {{ $t('footer_contact_link') }}
                </a>
              </span>
            </li>
            <li class="list-group-item">
              <span class="footer-link-arrow">
                <a :href="$t('feedback_url')">
                  {{ $t('footer_feedback_link') }}
                </a>
              </span>
            </li>
            <li class="list-group-item">
              <span class="footer-link-arrow">
                <a :href="$t('footer_accessibility_link_url')">
                  {{ $t('footer_accessibility_link') }}
                </a>
              </span>
            </li>
            <li class="list-group-item">
              <span class="footer-link-arrow">
                <a :href="$t('footer_privacy_link_url')">
                  {{ $t('footer_privacy_link') }}
                </a>
              </span>
            </li>
          </ul>
        </div>

        <div class="col-md-3">
          <h4>{{ $t('footer_follow_heading') }}</h4>

          <h5 class="footer-follow-heading">{{ $t('footer_follow_heading_finto') }}</h5>
          <ul class="list-group footer-list">
            <li class="list-group-item">
              <a href="https://twitter.com/Fintopalvelu/">
                <span class="footer-follow-icon" id="twitter">
                {{ $t('footer_twitter_link') }}
                </span>
              </a>
            </li>
          </ul>

          <h5 class="footer-follow-heading">{{ $t('footer_follow_heading_natlib') }}</h5>
          <ul class="list-group footer-list">
            <li class="list-group-item">
              <a href="https://www.facebook.com/Kansalliskirjasto/">
                <span class="footer-follow-icon" id="facebook">
                Facebook
                </span>
              </a>
            </li>
            <li class="list-group-item">
              <a href="https://www.youtube.com/channel/UCMCKdIT517O4D8o9-lesbvQ/">
                <span class="footer-follow-icon" id="youtube">
                  Youtube
                </span>
              </a>
            </li>
            <li class="list-group-item">
              <a href="https://instagram.com/kansalliskirjasto/">
                <span class="footer-follow-icon" id="instagram">
                  Instagram
                </span>
              </a>
            </li>
            <li class="list-group-item">
              <a href="https://fi.linkedin.com/company/nationallibraryfinland/">
                <span class="footer-follow-icon" id="linked-in">
                  LinkedIn
                </span>
              </a>
            </li>
          </ul>
        </div>

        </div>

      </div>
    </div>

    <div class="container-fluid" id="footer-bottom">
      <div class="row align-items-center">
        <div class="col-md-auto">
          <div id="footer-bottom-logo">
            <img src="static/img/KK_logo_keskitetty_sf_swe_white.svg" :alt="$t('nat_lib_alt')">
          </div>
        </div>
        <div class="col-md-auto" id="footer-bottom-text">
          <span>{{ $t('nat_lib') }}</span>
        </div>
        <div class="col-md-auto ms-auto">
          <div id="footer-bottom-link">
            <a target="_blank" :href="$t('nat_lib_url')">kansalliskirjasto.fi</a>
            <img src="static/img/arrow-up-right-from-square-solid.svg" alt="" aria-hidden="true">
          </div>
        </div>
      </div>
    </div>

  </footer>

  <script src="static/js/i18n.js"></script>
  <script src="static/js/annif.js"></script>
  <script src="static/js/bootstrap.min.js"></script>

</body>
